$primary: #1c304a;
$primary-inverted: #eefbfb;
$background: #eefbfb;
$background-inverted: #1c304a;

$neutral-100: #ffffff;
$neutral-200: #b3efff;
$neutral-300: #00cfff;
$neutral-400: #046b99;
$neutral-500: #1c304a;
$neutral-600: #4a4b53;
$neutral-700: #000000;

$error: #fa4141;
$warning: #ffd700;
$success: #21ff63;

$transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
